<div> <%= link_to("<< back to dashboard", dashboard_path, :class => 'back-link') %> </div>
<div> <%= link_to("<< back to users", users_path, method: :get) %> </div>

<h1> <%= user_profile %> </h1>

<div>
  <ul class="post_index_display post_profile_display">
    <li> <span class="username_display"> <%= @user.username %></span>'s posts</li>
    <% @posts.each do |post| %>
      <li>
        <a href="/posts/<%= post.id %>">
          <div class="profile_posts">
           <%= post.message %>
          </div>
        </a>
        <div>
          <%= form_for @comment do |f| %>
              <div>
                <%= f.text_field :comment, placeholder: "comment" %>
                <%= f.submit "post" %>
              </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
