<!DOCTYPE html>
<html>
  <head>
    <title>PhluxShows</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>phlux</h1>

    <header>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </nav>
    </header>

    <% if @current_user != nil %>
      <div> hi, <%= @current_user.username %> ! </div>
      <%= link_to "log out", logout_path, method: :delete %>
    <% end %>

    <%= yield %>

  </body>
</html>
