<!DOCTYPE html>
<html>
  <head>
    <title>PhluxShows</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
      <h1 class="logo animated flip"> <a href="/">phlux</a> </h1>
    </div>

    <div class="yield-div">
      <%= yield %>
      <% debug(params) if Rails.env.development? %>
    </div>

    <div class="footer">
      <ul>
        <li> &copy 2018 <strong>phlux</strong> | </li>
        <li> <%= link_to("about", about_path, method: :get) %> </li>
        <li> <%= link_to("terms", about_path, method: :get) %> </li>
        <li> <%= link_to("privacy", about_path, method: :get) %> </li>
      </ul>
    </div>

  </body>
</html>
